version: '3.6'
services:
  postgres:
    image: postgres:12
    restart: always
    volumes:
    - db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: my-trip
      POSTGRES_PASSWORD: password
  hasura:
    build:
      context: hasura
      dockerfile: Dockerfile.server
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    restart: always
    env_file: ./hasura/env
  hasura-migrate:
    build:
      context: hasura
      dockerfile: Dockerfile.migrate
    depends_on:
      - postgres
      - hasura
    restart: "no"
    env_file: ./hasura/env
    volumes:
      - ./hasura/migrations:/hasura-migrations
      - ./hasura/metadata:/hasura-metadata
volumes:
  db_data: